body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

.success-container {
  max-width: 1400px;
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 100px;
}

.message {
  font-size: 30px;
  margin-bottom: 50px;
}

.message .highlight {
  color: #e95414;
  font-weight: bold;
}

.icon {
  font-size: 48px;
  margin-bottom: 100px;
}

.back-button {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #e65100;
  color: #e65100;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}


/* ✅ 반응형 스타일 */

@media (max-width: 800px) {
  h1 {font-size: 48px;}
  .message {font-size: 22px;}
  .back-button {font-size: 18px; padding: 12px 16px;}
  .icon {margin-bottom: 50px;}
}
@media (max-width: 600px) {
  h1 {font-size: 40px;}
  .message {font-size: 18px;}
  .back-button {font-size: 16px; padding: 10px 14px;}
}
@media (max-width: 500px) {
  h1 {font-size: 36px; margin-bottom: 60px;}
  .message {font-size: 16px;}
  .back-button {font-size: 16px; padding: 8px 12px;}
  .icon {font-size: 36px; margin-bottom: 30px;}
}
@media (max-width: 400px) {
  .success-container {margin: 50px auto 100px;}
  h1 {
    font-size: 30px;
  }

  .message {
    font-size: 14px;
  }

  .icon {
    font-size: 32px;
  }
  .back-button {font-size: 14px; padding: 6px 10px;}
}
