body {
  background-color: #ffffff;
  color: #333;
}

.container {
  max-width: 1400px;
  padding: 100px 5%;
  margin: 0 auto 100px;
}

.container h1 {
  font-size: 60px;
  font-weight: 700;
  padding: 100px 0;
  text-align: center;
}

.container p {
  font-size: 30px;
  color: #333;
  font-weight: 700;
  margin-bottom: 100px;
  line-height: 2.5rem;
  text-align: center;
}
.container p span {color: #e65100;}

.search-area {max-width: 1920px;}

.search-box {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 10px 20px;
  font-size: 20px;
  width: 80%;
  border: 1px solid #ccc;
  outline: none;
  border-right: none;
}

/* .search  {
  padding: 10px 16px;
  background-color: #f6f6f6;
  border: 1px solid #f26522;
  color: #f26522;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
} */

.cur-location > button:hover {
  background-color: #f26522;
  color: #f6f6f6;
}


.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
}

.result-table th,
.result-table td {
  border-bottom: 1px solid #ccc;
  padding: 20px 25px;
  text-align: center;
}

.result-table th {
  background: #f6f6f6;
  font-weight: 600;
  font-size: 20px;
}
.result-table td {font-size: 18px;}

.progress {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 150px auto;
  flex-wrap: wrap;
}

.step {
  text-align: center;
  opacity: 0.3;
  flex: 1;
  min-width: 80px;
  transition: opacity 0.5s ease, color 0.5s ease;
}

.step.active {
  opacity: 1;
  color: #f26522;
  font-weight: bold;
}

.step .icon {
  margin: 0 auto 30px;
  color: #f26522;
}
.step .icon img {width: 48px;}
.step span {font-size: 18px;}


.status-text {
  font-size: 25px;
  color: #444;
  margin-top: 100px;
  text-align: center;
}

.status-text .highlight {
  color: #f26522;
  font-weight: 600;
}
.progress .icon-a {padding-top: 20px; }
.progress .icon-a img {width: 10px;}

@media (max-width: 950px) {
  .progress {width: 90%; margin: 100px auto;}
  .step .icon img {width: 40px;}
}
@media (max-width: 850px) {
  .progress {gap: 20px;}
  .step .icon {margin: 0 auto 20px;}
  .step .icon img {width: 36px;}
}

@media (max-width: 800px) {
  .container {padding: 70px 5%;}
  .container h1 {font-size: 48px; padding: 70px 0;}
  .container p {font-size: 22px;}
  input[type="text"] {font-size: 18px;}
  .cur-location > button {font-size: 18px;}
  .result-table {margin: 0 auto;}
  .result-box {margin-top: 100px;}
  .container p {font-size: 26px; line-height: 2rem;}
  .result-table th {font-size: 18px;}
  .result-table td {font-size: 16px;}
}
@media (max-width: 750px) {
  .step .icon img {width: 30px;}
  .step span {font-size: 15px;}
  
}
@media (max-width: 620px) {
  .progress {width: 80%;}
}
@media (max-width: 600px) {
  .container h1 {font-size: 40px;}
  .container p {font-size: 18px; margin-bottom: 70px;}
  input[type="text"] {font-size: 16px; padding: 6px 12px;}
  .search {font-size: 16px; padding: 6px 12px;}
  .result-box {margin-top: 60px;}
  .result-table th, .result-table td {padding: 16px 10px;}
  .result-table th {font-size: 16px;}
  .result-table td {font-size: 14px;}
  .progress {margin: 0 auto; gap: 15px;}
  .step .icon img {width: 24px;}
  .step span {font-size: 14px;}
  .status-text {margin-top: 80px;}
}
@media (max-width: 500px) {
  .container {padding: 40px 5%;}
  .container h1 {font-size: 36px; padding: 60px 0;}
  .container p {font-size: 15px; line-height: 1.5rem;}
  input[type="text"] {font-size: 14px;}
  .search {font-size: 14px;}
  .status-text {margin-top: 50px;}
  .status-text p {margin-bottom: 30px;}
  .step .icon {margin-bottom: 15px;}
  .step span {font-size: 12px;}
  .progress .icon-a {padding-top: 10px;}
  .progress .icon-a img {width: 8px;}
}
@media (max-width: 470px) {
  .progress div.icon-a:nth-child(6) {padding-left: 50px;}
  .progress div.icon-a:nth-child(6),
  .progress div.step:nth-child(7),
  .progress div.icon-a:nth-child(8),
  .progress div.step:nth-child(9) { margin-top: 10px;}
}
@media (max-width: 440px) {
  .progress {width: 90%;}
  .status-text p {line-height: 1rem;}
}
@media (max-width: 400px) {
  .container {padding: 20px 5%;}
  .container h1 {font-size: 30px;}
  .container p {font-size: 13px;}
  input[type="text"] {font-size: 12px; padding: 4px 8px;}
  .cur-location > button {font-size: 12px; padding: 4px 8px;}
  .result-table th {font-size: 12px;}
  .result-table td {font-size: 10px;}
  .progress {gap: 10px;}
  .progress div.icon-a:nth-child(6) {padding-left: 30px;}
  .step .icon img {width: 20px;}
  .step .icon {margin-bottom: 10px;}
  .step span {font-size: 10px;}
}