.faq-wrapper {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
.inq-button {
  background-color: #e65100;
  position: relative;
  /* left: 720px; */
  font-size: 16px;
  color: #fff;
  padding: 6px 10px;
  bottom: 50px;
  float: right;
}
.faq-header {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #383838;
  padding-bottom: 20px;
  padding-top: 20px;
}

.faq-list .faq-item {
  display: flex;
  align-items: center;
  padding: 30px 15px;
  border-bottom: 1px solid #0c0c0c;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  color: inherit;
}

.faq-list .faq-item:hover {
  background-color: #f9f9f9;
}

.faq-list .faq-item .icon {
  color: #ff5c00;
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}
.faq-list .faq-item .text {
  flex: 1;
}

.faq-list .faq-item a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

.pagination {
  margin-top: 30px;
  text-align: center;
}

.pagination button {
  background: none;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  color: #333;
  cursor: pointer;
}

.pagination button.active {
  color: #ff5c00;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .faq-wrapper {
    padding: 0 10px;
  }

  .faq-list .faq-item {
    padding: 16px 10px;
  }

  .faq-list .faq-item .icon {
    font-size: 16px;
    margin-right: 8px;
  }

  .faq-list .faq-item .text {
    font-size: 15px;
  }

  .pagination button {
    font-size: 14px;
    margin: 0 4px;
  }
}