.inquiry-section {
  padding: 60px 20px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #1a1a1a;
  max-width: 700px;
  margin: auto;
  line-height: 1.75;
}

.inquiry-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.inquiry-box {
  border-top: 2px solid #000;
  padding-top: 30px;
}

.inquiry-subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.inquiry-content p {
  font-size: 15px;
  margin-bottom: 20px;
}

.info-block {
  margin-bottom: 20px;
}

.info-title {
  font-weight: 600;
  margin-bottom: 6px;
  color: #00478f;
}

.inquiry-content ul {
  margin-left: 20px;
  list-style-type: disc;
  font-size: 14.5px;
}

.contact {
  margin-top: 30px;
}

a {
  color: #e65100;
  text-decoration: none;
}

.btn-wrap {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-orange {
  background-color: #f26522;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
  float: right;
  position: relative;
  bottom: 45px;
}

.btn-orange:hover {
  background-color: #d45213;
}

.btn-outline {
  border: 1px solid #aaa;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  background: #fff;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .btn-wrap {
    flex-direction: column;
    gap: 12px;
  }

  .btn-orange, .btn-outline {
    width: 100%;
    text-align: center;
  }
}
